@import 'iconfont';

html {
    font-size: 62.5%;
    font-family: Roboto;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.align-icon {
    vertical-align: middle;
}
.unselect {
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header {
    width: 100%;
    background-color: #43A047;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    h1 {
        font-size: 3rem;
        margin: 0;
        color: #FFF;
    }
}
#searchbar {
    margin: 3rem;
    a {
        text-decoration: none;
        color: #fff;
    }
    label {
        &:nth-of-type(2) {
            a {
                i {
                    margin: 1rem;
                    vertical-align: middle;
                }
            }
        }
    }
}
input[type="search"], input[type="number"] {
    -webkit-appearance: none;
    &::-webkit-input-placeholder {
        color: #C8E6C9 !important;
    }
    &:-moz-placeholder {
        color: #C8E6C9 !important;
    }
    &::-moz-placeholder {
        color: #C8E6C9 !important;
    }
    &:-ms-input-placeholder {
        color: #C8E6C9 !important;
    }
    &:focus {
        outline: none;
    }
    &::-webkit-search-decoration {
        display: none;
    }
    &::-webkit-search-cancel-button {
        display: none;
    }
    &::-webkit-search-results-button {
        display: none;
    }
    &::-webkit-search-results-decoration {
        display: none;
    }
    font-family: Roboto;
    font-size: 1.6rem;
    padding-bottom: 0.7rem;
    background-color: #43A047;
    border: 0;
    border-bottom: 2px #2E7D32 solid;
    color: #FFF;
}

.material-btn {
    &:focus {
        outline: none;
        border: 1px solid #fff;
    }
    cursor: pointer;
    color: #fff;
    background-color: #2E7D32;
    width: 12rem;
    padding: 0.8rem;
    border: 1px solid #2E7D32;
    border-radius: 2px;
    font-size: 1.6rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.gallery-btn {
    text-decoration: none;
    display: inline-block;
    margin: 1rem;
}

.search-btn {
    margin-top: 2rem;
}
.addtime-btn {
    margin-left: 1rem;
}
input[type="text"], input[type="number"] {
    &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
    &::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }
}
#modeselect {
    label {
        position: relative;
        cursor: pointer;
    }
    span {
        margin: 0 1rem;
    }
}
input[type="radio"] {
    opacity: 0;
    margin: 0;
    width: 0;
    + {
        span {
            display: inline-block;
            height: 2.5rem;
            width: 2.5rem;
            padding: 1.25rem;
            font-size: 1.5rem;
            background-color: #2E7D32;
            border-radius: 50%;
            color: #C8E6C9;
            transition: background-color 0.4s;
            -webkit-transition: background-color 0.4s;
        }
    }
    &:checked {
        + {
            span {
                background: #FFFFFF;
                color: #000000;
            }
        }
    }
}

.material-input_number {
    width: 10rem;
    margin-left: 2rem;
}
.content {
    height: 100%;
    width: 100%;
}
.map {
    height: 30rem;
    width: 100%;
}

.center-text {
    text-align: center;
}

.hide {
    display: none;
}

.duration-input {
    background-color: #43A047;
    padding: 1rem;
    border-radius: 2px;

    p {
        display: inline-block;
        color: #FFF;
        font-size: 1.5rem;
    }
}

.estimate {
    display: none;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    color: #FFF;
    background-color: #43A047;
    border-radius: 2px;
}

.title {
    font-size: 2.5rem;
    margin-left: 1rem;
    text-align: left;
}

.graph {
    width: 90%;
    margin: 2rem auto;
}

.chartimages {
    width: 90%;
    margin: 1rem auto;
    text-align: center;
}

.chart-img {
    width: 100%;
}

.image-container {
    width: 46%;
    margin: 2rem 1%;
    display: inline-block;
}

.footer {
    height: 10rem;
    background-color: #43A047;
}

@media(max-width: 70rem) {
    .image-container {
        width: 98%;
        margin: 2rem 1%;
        display: block;
    }

    .addtime-btn {
        display: inline-block;
        margin: 1rem;
    }
}

@media(max-width: 33rem) {
    #searchbar {
        label {
            display: block;
        }
    }
    .icon-swap:before {
        margin: 1rem;
        display: inline-block;
        transform: rotate(-90deg);
    }
}
