@import 'iconfont';

html {
    font-size: 62.5%;
    font-family: Roboto;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.unselect {
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header {
    width: 100%;
    background-color: #43A047;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    h1 {
        font-size: 3rem;
        margin: 0;
        color: #FFF;
    }
}
#searchbar {
    margin: 3rem;
    a {
        text-decoration: none;
        color: #fff;
    }
    label {
        &:nth-of-type(2) {
            a {
                i {
                    margin: 1rem;
                    vertical-align: middle;
                }
            }
        }
    }
}
input[type="search"] {
    &::-webkit-input-placeholder {
        color: #C8E6C9 !important;
    }
    &:-moz-placeholder {
        color: #C8E6C9 !important;
    }
    &::-moz-placeholder {
        color: #C8E6C9 !important;
    }
    &:-ms-input-placeholder {
        color: #C8E6C9 !important;
    }
    &:focus {
        outline: none;
    }
    &::-webkit-search-decoration {
        display: none;
    }
    &::-webkit-search-cancel-button {
        display: none;
    }
    &::-webkit-search-results-button {
        display: none;
    }
    &::-webkit-search-results-decoration {
        display: none;
    }
    font-family: Roboto;
    font-size: 1.6rem;
    padding-bottom: 0.7rem;
    background-color: #43A047;
    border: 0;
    border-bottom: 2px #2E7D32 solid;
    color: #FFF;
}
input[type="submit"] {
    &:focus {
        outline: none;
        border: 1px solid #fff;
    }
    cursor: pointer;
    color: #fff;
    background-color: #2E7D32;
    margin-top: 2rem;
    width: 12rem;
    height: 3.2rem;
    border: 1px solid #2E7D32;
    border-radius: 2px;
    font-size: 1.6rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
input[type=text] {
    &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
    &::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }
}
#modeselect {
    label {
        position: relative;
        cursor: pointer;
    }
    span {
        margin: 0 1rem;
    }
}
input[type="radio"] {
    opacity: 0;
    margin: 0;
    width: 0;
    + {
        span {
            display: inline-block;
            height: 2.5rem;
            width: 2.5rem;
            padding: 1.25rem;
            font-size: 1.5rem;
            background-color: #2E7D32;
            border-radius: 50%;
            color: #C8E6C9;
            transition: background-color 0.4s;
            -webkit-transition: background-color 0.4s;
        }
    }
    &:checked {
        + {
            span {
                background: #FFFFFF;
                color: #000000;
            }
        }
    }
}
#content {
    height: 100%;
    width: 100%;
    section {
        height: 40%;
    }
}
#map {
    height: 100%;
    width: 100%;
}
@media max-width: 33rem) {
    #searchbar {
        label {
            display: block;
        }
    }
    #switchIcon {
        transform: rotate(-90deg);
    }
}
